@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#logo{
	float: left;
	width: 25%;
}

nav{
	float: right;
	margin-top: 1.5em;
}
nav a{
	padding: 1em;
	text-decoration: none;
	color: #505050;
}

nav a:hover{
	color: #61C5E5;
}


#hero {
	background: url("../images/kravheroimage.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;
	padding: 5em 0 0 4em;
	height: 57vh;
}

h1{
	font-size: 3em;
}

#slogan{
	margin-bottom: 1em;
	font-size: 1.5em;
}

#cta{
	text-decoration: none;
	color: #61C5E5;
	padding: 10px 20px;
	border: solid #61C5E5;
}

#cta:hover{
	color: white;
	background-color: #61C5E5;
}

body{
    color: #505050;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px;
}

h1, h2, h3{
    color: #505050;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
}

h2{
	padding-top: 2em;
}

h3{
	padding-top: 1em;
}


p{
	margin-bottom: 1.5em;
}

blockquote{
	float: left;
	width: 31.33%;
	padding: 4em 2em;
	margin: 1%;
	background: none;
}

#about{
	background: url("../images/krav_knee.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 50%;
	height: 74vh;
}

#learn{
	float: right;
	font-size: 1.15em;
	width: 50%;
	padding: 1em 0 0 2em;
}

#contact{
	font-size: 1.15em;
}

#location{
	float: left;
	width: 50%;
}

#requestform{
	float: right;
	padding: 0 5em;
}

#footerlinks{
	display: block;
	float: left;
}

#copyright{
	float: right;
}

.clearfix:after{
	display: block;
	content: " ";
	clear: both;
	font-size: 0;
	visibility: hidden;
	height: 0;
}
