@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#logo {
	width: 265px
}

#headerlinks {
	float: right;
}

#hero {
	background: url(Users/kelseyingerto/Documents/GitHub/kaingerto.github.io/unit_4/images/kravheroimage.jpg);"
	background-repeat: no;
	background-position: left;
}

h1 {
	font-size: 3em;
	padding-left: 40px;
}

h1, h2, h3 {
    color: #505050;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
}

body {
    color: #505050;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

nav a {
	padding-left: 20px;
}

blockquote {
	float: left;
	width: 31.33%;
	padding: 4em 2em;
	margin: 1%;
}
